# Настройки базы данных PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taxi_db
DB_USER=postgres
DB_PASSWORD=your_password

# JWT секретный ключ (замените на сложную строку)
JWT_SECRET=1234

# Порт сервера
PORT=3000

# Путь к файлу сервисного аккаунта Firebase (для FCM)
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
